/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#main_content {
    background-color: #ddffff;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

#main_content div {
    padding: 10px
}

#sidebar_content {
    margin-top: 10px;
    border-radius: 5px;
}

#sidebar_content div {
    background-color: #ffffdd;
    padding-left: 10px;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;

}

header {
  text-align: center;
}
#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

#site_footer {
    background-color: #FFDDAA;
    height: 50px;
    border-radius: 5px;
    text-align: center;
  }

#site_footer > nav > a {
    margin: 0 20px;
    }

#site_footer > nav {
    padding-top: 15px

}

@media (min-width: 600px) {
    #main_nav a {
      display: inline-block;
      width: 25%;
      padding-bottom: 20px
    }

    #sidebar_content {
      display: flex;
      padding-bottom: 20px;
      }

    #sidebar_content div {
      flex-basis: 33%;
    }
  }

@media (min-width: 1100px) {
    header {
      display: flex;
      flex-flow: row;
      text-align: left;
    }
    #logo {
      flex-basis: 33%;
    }
    #main_nav {
      flex-basis: 66%
    }
}
